body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 40px;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn{
    border: 2px solid black;
    padding: 8px;
    border-radius: 8px;
    
}

.signup-btn{
    border: 2px solid black;
    padding: 8px;
    border-radius: 8px;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 800px;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feature {
    width: 32%;
}

.feature img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}